@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

header {
  background: #fff;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 1;
}

.fa-3x {
  color: #777;
  margin: 15px 0;
  float: left;
}

.fa-bars {
  display: none;
}

.contact {
  font-size: 12px;
  color: #fff;
  background-color: #6ba7eb;
  padding: 12px 14px;
  float: right;
  text-decoration: none;
  margin-top: 15px;
  transition: all 0.3s;
}

.contact:hover {
  color: #333;
}

main {
  padding-top: 80px;
}

.keyvisual {
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
  padding: 400px 0;
}

.keyvisual-inner {
  /* padding: 400px 0; */
  text-align: center;
}

.name {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}

.sub-name {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.work {
  background: #e3f2fd;
  padding-top: 50px;
}

.work-left {
  width: 40%;
  float: left;
  text-align: center;
}

.pc-img {
  width: 250px;
}

.work-right {
  width: 60%;
  float: left;
  text-align: center;
  margin-top: 20px;
}

.work-title {
  font-size: 40px;
  letter-spacing: 10px;
  /* margin-top: 20px; */
}

.work-text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}

.skills {
  background: #fff;
  overflow: auto;
  padding-top: 50px;
}

.skills-title,.plan-title {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  /* padding-top: 50px; */
}

.skills-content {
  padding: 70px 0;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  gap: 100px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.skills-item {
  opacity: 0.7;
  transition: all 0.7s;
}

.skills-item:hover {
  opacity: 1;
}

.skills-img {
  width: 300px;
  height: 300px;
}

/*.skills-item {
  margin-right: 100px;
  margin-bottom: 100px;
} */

/* .skills-item:nth-child(3n) {
  margin-right: 0;
}

.skills-item:nth-child(n+4) {
  margin-bottom: 0;
} */

.plan {
  background: #d0dfea;
  overflow: auto;
  padding: 50px 0;
}

.plan-title {
  padding-bottom: 50px;
}

.cell-table {
  table-layout: fixed;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

thead tr th {
  background: #6ba7eb;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #e0efff;
}

th {
  border-left: 2px solid #fff;
  padding: 10px;
  line-height: 26px;
}

th:first-child {
  border-left: none;
}

td {
  border-left: 2px solid #fff;
  padding: 10px;
  line-height: 26px;
}

td:first-child {
  border-left: none;
}

.sns {
  background: #e3f2fd;
  overflow: auto;
  padding: 200px 0;
}

.sns-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon {
  color: #8c8c8c;
  font-size: 40px;
  overflow: hidden;
  padding: 25px 0;
  width: 185px;
  transition: all 0.5s;
}

.icon:hover {
  background: #fff;
}

footer {
  background: #cfd8dc;
  overflow: auto;
}

.submit {
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 20px 0 25px 0;
  text-align: end;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .keyvisual {
    padding: 250px 0;
  }

  .work {
    padding-bottom: 50px;
  }

  .work-left {
    float: none;
    width: 100%;
  }

  .work-right {
    float: none;
    width: 100%;
  }

  .skills-content {
    display: inline-block;
  }

  .skills-item {
    width: 100%;
    float: left;
  }

  .skills-img {
    display: block;
    margin: 0 auto;
  }

  .skills-item:nth-child(3n) {
    margin-bottom: 80px;
  }
  .skills-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .fa-bars {
    color: #777;
    display: block;
    font-size: 40px;
    float: right;
    margin-top: 15px;
  }

  .name {
    font-size: 40px;
  }

  .sub-name {
    font-size: 30px;
  }

  th {
    font-size: 14px;
    line-height: 22px;
  }

  td {
    font-size: 12px;
  }

  .sns {
    padding: 50px 15px;
  }

  .sns-content {
    display: block;
  }

  .icon {
    font-size: 40px;
    padding: 50px 0;
    width: 100%;
  }
}